@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<PNT1_GRUPO6_PROYECTO_INMOBILIARIA_WEB.Models.PropiedadVenta>

<div class="container">
    <div class="text-center">
        <h2 class="display-4">Bienvenido a su Inmobiliaria de confianza</h2>
    </div>

</div>